@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

:root {
  /* FONT-FAMILY-VARIABLE */
  --FF: "Handlee", cursive;

  /* COLORS-VARIABLE */
  --BODY-BG-COLOR: black;
  --BODY-BG-IMG: linear-gradient(to left, var(--BODY-BG-COLOR), #2d3436);
  --SEARCH-BG-COLOR: linear-gradient(to right, #e8dbfc, #f8f9d2);
  --THEME-COLOR: #5e5c5c;
  --COLOR: #fffdd0;
  --ERROR-COLOR: #de3163;

  /* SHADOW */
  --SHADOW: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
  font-family: var(--FF);
}

/* DARK-MODE TOGGLE */

.dark-mode {
  /* COLORS-VARIABLE */
  --BODY-BG-COLOR: black;
  --BODY-BG-IMG: linear-gradient(to left, var(--BODY-BG-COLOR), #2d3436);
  --SEARCH-BG-COLOR: linear-gradient(to right, #e8dbfc, #f8f9d2);
  --THEME-COLOR: #5e5c5c;
  --COLOR: #fffdd0;
  --ERROR-COLOR: #ff0033;

  /* SHADOW */
  --SHADOW: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

body {
  background-color: var(--BODY-BG-COLOR);
  background-image: var(--BODY-BG-IMG);
  color: var(--COLOR);
}

/* UTILITY-FUNCTIONS */

.fig-caption {
  top: -999px;
  left: 0;
  position: absolute;
}

.nowrap {
  white-space: nowrap;
}

a {
  color: var(--THEME-COLOR);
  text-decoration: none;
}

/* HEADER */
.app-name {
  text-align: center;
  padding: 4rem;
  color: var(--COLOR);
  letter-spacing: 3px;
}

/* SEARCHBAR */
.searchbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.search-input {
  border: none;
  background-color: var(--SEARCH-BG-COLOR);
  background-image: var(--SEARCH-BG-COLOR);
  color: var(--BODY-BG-COLOR);
  padding: 1rem;
  width: 30rem;
  box-shadow: var(--SHADOW);
  border-radius: 2rem;
}

.search-input:focus {
  outline: none !important;
  border-width: 2px;
  border-style: solid;
  border-color: var(--BODY-BG-COLOR);
}

.search-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* MOVIE-CARD */

.movie-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  justify-content: space-between;
  align-items: left;
  cursor: pointer;
  box-shadow: var(--SHADOW);
  flex-wrap: nowrap;
  position: relative;
  color: var(--COLOR);
}

.movie-card:focus,
.movie-card:hover {
  transform: scale(1.02);
  transition: all 0.5s;
}

.movie-year {
  position: absolute;
  width: 100%;
  opacity: 0;
  margin: 1rem;
  top: 0;
  z-index: 2;
}

.movie-card div:nth-of-type(3) {
  z-index: 2;
  background-color: var(--THEME-COLOR);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie-type {
  text-transform: uppercase;
  margin: 0.5rem;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 500;
}

.movie-title {
  margin: 0.5rem;
  font-weight: 200;
}

.movie-card:hover div:nth-of-type(1) {
  opacity: 1;
}

.movie-card:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie-card:hover div:nth-of-type(3) {
  background-color: transparent;
}

/* MOVIE-CONTAINER */

.movie-container {
  margin-top: 4rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-content: center;
  justify-items: center;
  column-gap: 2rem;
  row-gap: 6rem;
}

/* ERROR-CAPTURE */

.error-c {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.error-c-heading {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--ERROR-COLOR);
}

.error-c-text {
  color: var(--ERROR-COLOR);
  padding-top: 4rem;
  font-size: 1.5rem;
}
